doctype html
html(lang="en")
	head
		title Hg to Zip
		link(rel="stylesheet", href="global.css")
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300", rel="stylesheet" type="text/css")
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js") 
		script(type="text/javascript").
			function centerBox() {
				var boxHeight = $("#endmarker").offset().top - $("#startmarker").offset().top;
				console.log(boxHeight);
				$("#centerdiv").css("margin-top", (viewport().height / 2 - $("#centerdiv")[0].offsetHeight / 2) + "px");
			}
			function viewport()
			{
				var e = window;
				var	a = 'inner';
				if ( !( 'innerWidth' in window ) )
				{
				a = 'client';
				e = document.documentElement || document.body;
				}
				return { width : e[ a+'Width' ] , height : e[ a+'Height' ] };
			}
			function submit() {
				$("#hgsubmit")[0].disabled = true;
				$.post("prepare/", {
					repo: $("#hginput")[0].value
				}, function (res) {
					console.log(res);
					$("#hgsubmit")[0].disabled = false;
					window.location.href = res;
				});
			}
			window.onresize = centerBox;
	body
		p#title Hg to Zip
		div#centerdiv
			div(style="clear:both")#startmarker
			p#hglabel Enter repo URL
			form(action="javascript:submit()", method="post", target="_blank")
				input(type="textbox", name="repo", spellcheck="false")#hginput
				input(type="submit", value="Checkout")#hgsubmit
			div(style="clear:both")#endmarker
		script(type="text/javascript").
			centerBox();
